.git
.github
.idea
.vscode
.DS_Store

.codex
.agents

coverage.out
coverage.html
dist/*
!dist/one-linux-amd64
!dist/one-linux-arm64
packages
releases

docker/secrets
node_modules

*.log
server.pid
myadmin.db
