install.log

/oneinstack/

myadmin.db

oneinstack.tar.gz

vcs.xml

cmd/config.yaml

cmd/oneinstack

.vscode

*.log

.idea/

*.sh

!install.sh
!install-ubuntu.sh
!install-cent.sh
!update.sh

server.pid

oneinstack.iml


node_modules

dist

version

.DS_Store

mysql*

onesoft

profile

go1.*